.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 83vh;
}

.projectsTitle {
  font-size: 42px;
  text-align: center;
  color: #a855f7;
  text-shadow: 0 0 15px #a855f7;
  margin-bottom: 30px;
}

.projects :global(.swiper-coverflow) {
  height: 550px;
}

.projects :global(.swiper-slide) {
  width: 350px;
  max-height: 400px;
}

/* .projects :global(.swiper-coverflow) {
  height: 600px;
} */

.projects :global(.swiper-button-next),
.projects :global(.swiper-button-prev) {
  display: none;
}

.projects :global(.swiper-pagination) {
  --swiper-pagination-bottom: 16px;
}

.projects :global(.swiper-pagination-bullet) {
  width: 14px;
  height: 14px;
  background-color: rgba(168, 85, 247, 0.3);
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
  opacity: 1;
  transition:
    all,
    0.3s ease-in-out;
}

.projects :global(.swiper-pagination-bullet-active) {
  width: 32px;
  background-color: #a855f7;
  border-radius: 14px;
  box-shadow:
    0 0 8px #a855f7,
    0 0 16px rgba(168, 85, 247, 0.6),
    0 0 24px rgba(168, 85, 247, 0.3);
}

@media (min-width: 768px) {
  .projects {
    min-height: 80vh;
  }
}

@media (min-width: 1440px) {
  .projects {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
